@page "/counter"

<h1>Tissue Box Level</h1>

<p role="status">Current tissue box LVL: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
